<footer class="l-footer">
  <ul class="l-footer__inner">
      <li class="l-footer_list">
        <a href="" class="l-footer__link"></a>
      </li>
  </ul>
  <p class="l-footer__copy"><small>copy rights</small></p>
</footer>